/*.grid-container {
    display: grid;
    grid-template-rows: 60px 120px 30% 25% 10% 30% 60px;
}
*/

.pageHead {
    background: rgb(61, 47, 47);
    display: block;
    height: 60px;
}

.postHead {
    background: rgb(199, 192, 192);
    display: block;
    height: 120px;
}

.mainBody {
    background: white;
    margin: 0 auto;
}

.leftText {
    display: inline-block;
    text-indent: 30px;
    line-height: 60px;
    color: white;
    margin: auto;
}


.mainContainer {
    font-size: 0;
    width: 100%;
    height: 100%;
}


.sideContainer {
    font-size: 0;
    width: 50%;
    height: 600px;
}


.leftPic {
    display: inline-block;
    width: 50%;
    height: 600px;
    background: black;
}

.upperRightPic {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 300px;
    background: red;
}

.lowerRightPic {
    display: inline-block;
    width: 50%;
    height: 300px;
    background: purple;
}

#symbols {
    display: inline;
    font-size: 8px;
    padding-right: 20px;
    color: white;
}

#deutsche {
    display: inline;
    font-size: 12px;
    color: white;
}

#newsletter {
    display: inline;
    font-size: 12px;
    color: white;

}